:root {
  --tile-size: 50px;
  --border-color: black;
}
html {
  cursor: url("./svgs/cursor-blue.png") , auto;
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  &.dark {
    background: black;
    --border-color: white;
  }
}
.grid {
  display: grid;
  grid-template-rows: 0 var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size);
  border: 1px solid black;
  gap: 0;
}
.row {
  display: grid;
  grid-template-columns: var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size);
  gap: 0;
  height: 100%;
}
.tile {
  border: solid 1px var(--border-color);
  user-select: none;
  display: grid;
  place-content: center;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  &.bug,&.fungi {
    &.player1 {
      color: black;
    }
    &.player2 {
      color: white;
    }
  }
  &:not(.playableTile) {
    cursor: url("./svgs/cursor-blue-error.png") , auto;
  }
  &:hover.playableTile {
    //background: green !important;
    box-shadow: 0 0 20px darkgreen;
    z-index: 100;
  }
}
.bug {
  &.player1 {
    background: orange !important;
  }
  &.player2 {
    background: blue !important;
  }
}
.fungi {
  &.player1 {
    background: #f16a15 !important;
  }
  &.player2 {
    background: darkblue !important;
  }
}
.playableTile {
  background: lightgreen;
  cursor: url("./svgs/cursor-blue-success.png") , auto;
}
.headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h3 {
    margin-bottom: 1px;
    color: var(--border-color);
  }
}
button {
  margin: 5px 0;
}
.debugTileText {
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
}
.roomName {
  &:hover {
    color: darkgreen;
  }
}
