:root {
  --tile-size: 50px;
  --border-color: black;
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  &.dark {
    background: black;
    --border-color: white;
  }
}
.grid {
  display: grid;
  grid-template-rows: var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size);
  border: 1px solid black;
  gap: 0;
}
.row {
  display: grid;
  grid-template-columns: var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size);
  gap: 0;
  height: 100%;
}
.tile {
  border: solid 1px var(--border-color);
  user-select: none;
  color: red;
  &:not(.playableTile) {
    cursor: not-allowed;
  }
  &:hover.playableTile {
    background: green;
  }
}
.bug {
  &.player1 {
    background: orange !important;
  }
  &.player2 {
    background: blue !important;
  }
}
.fungi {
  &.player1 {
    background: darkred !important;
  }
  &.player2 {
    background: darkblue !important;
  }
}
.playableTile {
  background: lightgreen;
  cursor: pointer;
}
.headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h3 {
    margin-bottom: 1px;
    color: var(--border-color);
  }
}
button {
  margin: 5px 0;
}
